.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(95, 158, 160, 1);
    
}
.input{
    margin: auto;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid lightgrey;
    
}
.input:focus{
    outline: none;
}
.timing{
    margin: 30px;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 12px;
}
.data{
    margin: 30px;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 12px;
}
.city{
    font-size: 25px;
    font-weight: 300;
}
.temp{
    font-size: 20px;
}
.conditions{
    font-size: 20px;;
}

